@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 10% 28%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}


html {
  scroll-behavior: smooth;
}

.title-hero-gradient {
  background: linear-gradient(149deg, #3C5086 30.35%, #2b3d6d 0%);
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textGradient 5s linear infinite, animateIn 0.5s ease 0.15s both;
}

@keyframes textGradient {
  0% {
    background-position: 0% 0;

  }

  100% {
    background-position: 200% center;

  }
}

@layer base {
  * {
    /* @apply border-foreground/20; */
  }

  h1,
  h2,
  h3 {
    font-family: "Amiko", sans-serif;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}